.logout__link,
.users__link,
.date__link {
    border: none;
    background-color: #ffffff;
    padding-left: 35px;
    font-size: 13px;
    text-shadow: 0.3px 0.3px 0;
    color: rgb(52, 52, 52);
    font-family: monospace;
    border: none;
}

.attendance-form {
    margin: 0 auto;
    text-align: center;
    padding: 0px 0;
    height: 690px;
    background-color: #f7f6f6;
    overflow-x: auto;
}

.attendance-form__inner {
    margin: 0 auto;
}

.alert-success {
    color: #2f5939;
    font-weight: bold;
    background-color: #d3e6d582;
    padding: 15px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12.7px;
    width: 600px;
    height: 42px;
    border: 1px solid #0d5925;
    border-radius: 5px;
    box-shadow: 0px 2px 1px rgba(28, 151, 85, 0.132);
}

.alert-danger {
    color: #d93025;
    font-weight: bold;
    background-color: #ffe9e9df;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12.7px;
    width: 600px;
    height: 42px;
    border-radius: 2px;
    border: 1px solid #b22222;
    box-shadow: 0px 2px 1px rgba(151, 28, 28, 0.132);
}

.alert-info {
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    color: #373737;
    margin-bottom: 10px;
    padding-top: 40px;
}


.form__group {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}


.attendance-form__btn-submit {
    margin: 26px;
    height: 200px;
    width: 500px;
    border: none;
    border-radius: 7px;
    background-color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p',sans-serif;
    font-weight: bold;
    color: #373737;
    transition: color 0.3s;
    font-family: monospace;
}

.attendance-form__btn-submit:disabled {
    color: #b0b0b0;
}

.attendance-form__btn-submit:disabled:first-child {
    margin-left: 25px;
}

.attendance-form__btn-submit:first-child {
    margin-left: 0px;
}

