.logout__link,
.users__link,
.date__link {
    border: none;
    background-color: #ffffff;
    padding-left: 35px;
    font-size: 15px;
    font-family: 'M PLUS 1p', sans-serif;
    text-shadow: 0.3px 0.3px 0;
    color: rgb(52, 52, 52);
}

.alert-success {
    color: #767780;
    font-weight: bold;
    background-color: #ebebebb0;
    padding: 15px;
    margin: 0 auto;
    font-size: 15px;
}

.alert-danger {
    color: #db2727;
    font-weight: bold;
    background-color: #ebebebb0;
    padding: 15px;
    margin: 0 auto;
    font-size: 15px;
}

.alert-info {
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    color: #373737;
    margin-bottom: 10px;
    padding-top: 40px;
}

.attendance-form {
    margin: 0 auto;
    text-align: center;
    height: 690px;
    background-color: #f7f6f6;
}

.attendance-form__inner {
    margin: 0 auto;
}

.form__group {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}


.attendance-form__btn-submit {
    margin: 26px;
    height: 200px;
    width: 500px;
    border: none;
    border-radius: 7px;
    background-color: white;
    font-size: 20px;
    font-family: 'M PLUS 1p',sans-serif;
    font-weight: bold;
    color: #373737eb;
    transition: color 0.3s;
}

.attendance-form__btn-submit:disabled {
    color: #b0b0b0;
}

.attendance-form__btn-submit:disabled:first-child {
    margin-left: 25px;
}

.attendance-form__btn-submit:first-child {
    margin-left: 0px;
}

